.App {
  text-align: center;
  
 
}


.App-logo {
  
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
  
}

.App-header {
  /* background-image: url("./Background1.jpg"); */
  background-size:contain;
  background-position:top;
  background: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(38, 8, 146);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* input.input {
  padding: 5%;
  width: 66%;
  font-size: 25%;
  text-align: center;
} */
input.input{

 
}
button.search {
 
}