.App {
  text-align: center;
  
 
}


.App-logo {
  
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
  
}

/* .App-header {
  
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input.input {
  padding: 5%;
  width: 66%;
  font-size: 25%;
  text-align: center;
} */

button.button {
  padding: 25px;
  margin: 10px;
  width: 36%;
  font-size: 30px;
  
}
.lodding{
  max-width: 350px;
}
.ThankYouPage {
  width: 50%;
  margin: 0 AUTO;
  padding: 25px;
  border: 0.1px solid;
  border-radius: 25px;
  margin-top: 24px;
  background: #ffb700;
  border: 0.1px solid;
  border-radius: 17px;
  padding: 12px;
  font-family: 'Francois One', sans-serif;
  transition: 80ms;
  margin-top: 2%;

  
}
.MealsF {
  margin: 8px;
  /* background: red; */
  margin-bottom: 14px;
  padding: 14px;
  color: #fff;
  font-size: 24px;
  font-family: 'Francois One', sans-serif;
}
.TheMainInfo {
  margin-top: 19px;
    background: #000;
    color: #fff;
    padding: 25px;
    border-radius: 17px;
    width: 53%;
    margin: 0 auto;
    margin-top: 29px;
    /* margin-left: 15%; */
}
th.MealsR {
  color: #fff;
  font-family: 'Francois One', sans-serif;

}
.fa, .fas {
  font-weight: 900;
  margin-right: 7px;
}
input.input1 {
  padding: 32px;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border: 5px solid #71db76;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  text-align: center;
  font-size: 29px;
  margin: 27px 5px;
  font-family: 'Francois One', sans-serif;
}
textarea.TextArea{
  padding:18px;
  border-radius: 17px;
  border: 2px;

}
table.Tabel {
  margin: 0 auto;
}
.search1 {
  background-color: #fff;
  border: none;
  color: rgb(113, 219, 119);
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 26px;
}
.fa-search:before {
  content: "\f002";
  font-size: 39px;
}
td.restaurnt5 {
  font-weight: 400;
  padding: 18px;
}

.UserHeader {
  background: #ffb700;
  width: 400px;
  margin: 0 auto;
  border: 0.1px solid;
  border-radius: 19px;
    font-size: 19px;
    padding: 30px;
    margin-top: 2%;

}
h1.UserTitles {
  font-size: 18px;
}
.fas {
  font-weight: 900;
  margin-right: 7px;
  font-size: 21px;
}
.UserInput {
  padding: 7px;
  border-radius: 17px;
  border: 0.2px;
}
.ButtonLog {
  margin-top: 19px;
  margin-bottom: 6px;
  border-radius: 17px;
  width: 32%;
  border: 0.1px;
  font-size: 23px;
  font-family: 'Francois One', sans-serif;
}
.SignUp{
  font-size: 20px;
  padding: 14px;
  text-decoration: none;
  color: #000;
  margin-top: 2%;
}
.NaV {
  margin-top: 2%;
}

input.required {
  border:2px solid tomato;
  width: 32%;
}