.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
input.Input {
  padding: 25px;
  width: 66%;
  font-size: 25px;
  text-align: center;
}
button.button {
  padding: 25px;
  margin: 10px;
  width: 36%;
  font-size: 30px;
  border-radius: 27px;
  border: 1px solid;
  background: #fff;
}
form.Form {
  background: #282c34;
  width: 42%;
  padding: 31px;
  margin: 0 auto;
  margin-top: 25px;
  border: 5px;
  border-radius: 10px;
  color: #fff;
}
h1.UP {
  font-size: 27px;
}
button.button1 {
  margin: 56px;
  width: 67%;
  padding: 3px;
  font-size: 19px;
  background: #d3da98;
  border: 5px;
  border-radius: 9px;
  font-weight: 800;
 /* border-radius: 27px;
  border: 1px solid;
  background: #fff;*/
}
input.UserInfo {
    padding: 22px;
    /* float: right; */
    width: 42%;
    border-radius: 7px;
    border: 0px solid;
    margin: 13px;
    margin-bottom: 35px;
    font-size: 19px;
    
}